


/* mobile View */
/* @media only screen and (min-width: 768px) {  */
.a {
  width: 480px;
  height: 75xpx;
  line-height: 4.6875em;
  background-color: antiquewhite;
  /* flex: 1; */
  /* order: 1; */
}

.b {
  width: 480px;
  height: 150px;
  line-height: 150px;
  background-color: blue;
  /* flex: 1; */
  /* order: 1; */
}

.c {
  width: 480px;
  height: 125px;
  line-height: 125px;
  background-color: red;
  /* flex: 1; */
  /* order: 1; */
}

.d {
  width: 480px;
  height: 125px;
  line-height: 125px;
  background-color: yellow;
  /* flex: 1; */
  /* order: 1; */
}

.e {
  
  width: 240px;
  height: 250px;
  line-height: 250px;
  background-color: green;
  /* flex: 1; */
  /* order: 2; */
}

.f {
  width: 240px;
  height: 250px;
  line-height: 250px;
  background-color: orange;
  /* flex: 1; */
  /* order: 2; */
}

.g {
  width: 240px;
  height: 250px;
  line-height: 250px;
  background-color: purple;
  /* flex: 1; */
  /* order: 3; */
}

.h {
  width: 240px;
  height: 250px;
  line-height: 250px;
  background-color: white;
  /* flex: 1; */
  /* order: 3; */
}

.i {
  width: 480px;
  height: 80px;
  line-height: 80px;
  background-color: brown;
  /* flex: 1; */
  /* order: 4; */
}

/* tablet view */
@media only screen and (min-width: 768px) { 
  body {
    margin: 0px auto;
    width: 960px;
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    /* grid-gap: 10px; */
    /* grid-auto-rows: minmax(100px, auto); */
  }
  
  .a {
    width: 960px;
    height: 100px;
    line-height: 100px;
    background-color: rgb(204, 140, 57);
    grid-column: 1 / span 5;
    grid-row: 1;
  } 
  
  .b {
    width: 200px;
    height: 600px;
    line-height: 600px;
    background-color: rgb(61, 167, 108);
    grid-column: 1;
    grid-row: 2 / span 3;
  } 
  
  .c {
    width: 380px;
    height: 200px;
    line-height: 200px;
    background-color: rgb(236, 227, 227);
    grid-column: 2 / span 2;
    grid-row: 2;
  } 
   
  .d {
    width: 380px;
    height: 200px;
    line-height: 200px;
    background-color: rgb(75, 75, 55);
    grid-column: 4 / span 2;
    grid-row: 2;
  } 
  
  .e {
    
    width: 190px;
    height: 250px;
    line-height: 250px;
    background-color: rgb(206, 33, 62);
    grid-column: 2;
    grid-row: 3;
  }
  
  .f {
    width: 190px;
    height: 250px;
    line-height: 250px;
    background-color: rgb(43, 31, 207);
    grid-column: 3;
    grid-row: 3;
  }
  
  .g {
    width: 190px;
    height: 250px;
    line-height: 250px;
    background-color: rgb(245, 227, 245);
    grid-column: 4;
    grid-row: 3;
  }
  
  .h {
    width: 190px;
    height: 250px;
    line-height: 250px;
    background-color: rgb(190, 226, 29);
    grid-column: 5;
    grid-row: 3;
  }
  
 .i {
    width: 760px;
    height: 150px;
    line-height: 150px;
    background-color: rgb(125, 154, 197);
    grid-column: 2 / span 4;
    grid-row: 4;
  } 
} 

/*desktop view */
@media only screen and (min-width: 1440px) {
  .a {
    width: 960px;
    height: 100px;
    line-height: 100px;
    background-color: rgb(224, 217, 207);
    flex: 1;
  }
  
  .b {
    width: 200px;
    height: 600px;
    line-height: 600px;
    background-color: rgb(29, 117, 69);
    flex: 1;
  }
  
  .c {
    width: 380px;
    height: 200px;
    line-height: 200px;
    background-color: rgb(223, 21, 21);
    flex: 1;
  }
  
  .d {
    width: 380px;
    height: 200px;
    line-height: 200px;
    background-color: rgb(235, 235, 17);
    flex: 1;
  }
  
  .e {
    
    width: 190px;
    height: 250px;
    line-height: 250px;
    background-color: rgb(52, 49, 179);
    flex: 1;
  }
  
  .f {
    width: 190px;
    height: 250px;
    line-height: 250px;
    background-color: rgb(96, 207, 31);
    flex: 1;
  }
  
  .g {
    width: 190px;
    height: 250px;
    line-height: 250px;
    background-color: rgb(197, 23, 197);
    flex: 1;
  }
  
  .h {
    width: 190px;
    height: 250px;
    line-height: 250px;
    background-color: rgb(179, 49, 56);
    flex: 1;
  }
  
  .i {
    width: 760px;
    height: 150px;
    line-height: 150px;
    background-color: rgb(221, 134, 94);
    flex: 1;
  }
}